.Head-Icon {
  height: 80px;
  margin: 30px 0;
}

.Gear-Icon {
  position: absolute;
  height: 45px;
  top: 300px;
  left: 50%;
  animation: Icon-spin infinite 10s linear;
}

.Gear-Icon:hover {
  animation: Icon-spin infinite 2s linear;
}

.Icon-Header {
  height: 120px;
  color: white;
  text-align: center;
}

@keyframes Icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* END ICON STYLING */

.getStartedButton {
  top: 80px;
}

.Type-Header {
  font-size: 30px;
}

.Cursor {
  animation: Blink 1s infinite alternate;
}

@keyframes Blink {
  from {color: black;}
  to {color: white;}
}
