/* Header styling */
.header {
    background: ghostwhite;
}
.headerLinks {
    display: inline;
    float: right;
}
/* Home CSS */
.homeContainer {
    height: 900px;
    width: 100%;
    background-color: #F4D37D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContainer h1 {
    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 5px;
}

.homeContainer h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    color:white;
    letter-spacing: 5px;
    font-size: 20px;
}
.ui.button.getStartedButton {
    background: white;
    margin: 1rem;
}